# Normalize text files
* text=auto eol=lf

# Treat file types correctly for diffs
*.php linguist-language=PHP
*.blade.php linguist-vendored
*.css diff=css
*.html diff=html
*.md diff=markdown

# Ignore certain files from GitHub language stats and exports
/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
/vendor/* linguist-vendored
/node_modules/* linguist-vendored
